body {
  background-color: #f5f7fa;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.bio,
.projects,
.jobs,
.education {
  margin-bottom: 40px;
  border-bottom: 1px solid #3B5998;
}

.right-side {
  width: 800px;
  padding-left: 80px;
  padding-right: 200px;
  padding-bottom: 30px;
}

.bio {
  margin-bottom: 60px;
}

.bio-title {
  font-size: 45px;
  line-height: 2;
}

.bio-occupation {
  margin-bottom: 27px;
  font-size: 25px;
  line-height: 1.714;
}

.bio-title,
.bio-occupation {
  color: #2a2a2a;
}

.projects-title {
  margin-bottom: 14px;
  color: #2a2a2a;
  font-size: 22px;
  line-height: 24px;
}

.jobs-title,
.education-title {
  color: #2a2a2a;
  font-size: 22px;
  line-height: 1.091;
}

.jobs-occupation,
.education-degree {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.5;
}

.jobs-time,
.education-time {
  color: black;
  font-size: 12px;
  line-height: 2;
}

.experience-item {
  color: #595959;
  font-size: 14px;
  line-height: 1.714;
}

.jobs-link {
  opacity: 1;
  font-size: 25;
  color: #3B5998;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.jobs-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.accent {
  color: #3B5998;
}

.clause {
  font-size: 8px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* ========= left-side ========= */

.left-side {
  width: 400px;
  background-color: #3B5998;
  color: #fff;
  padding-top: 275px;
}

.skills-title {
  font-size: 22px;
  line-height: 1.091;
}

.skills-item {
  font-size: 14px;
  line-height: 1.714;
}

.skills-list {
  list-style: none;
  padding-left: 0;
}

.skills-item::before {
  content: '\2022';
  margin-right: 8px;
  color: white;
  font-size: 18px;
}

.photo {
  width: 370px;
}

.photo,
.contacts,
.skills,
.widget {
  margin-bottom: 40px;
}

.contacts,
.skills,
.widget {
  padding-left: 40px;
}

.contacts-title,
.skills-title {
  color: #2a2a2a;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
}

.contacts-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.contacts-link {
  opacity: 0.6;
  color: #ffffff;
  text-decoration: none;
}

.contacts-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.btn {
  font-family: Montserrat;
  background-color: #3B5998;
  border: 1px solid #2a2a2a;
  color: #ffffff;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: #2a2a2a;
  color: #ffffff;
  border-bottom: 1px solid #2a2a2a;
}

.fa {
  color: #ffffff;
}
